/* ========== CORE TAG STYLES ========== */
html, body {
    background-color: black;
}
/* ===================================== */

/* ========== NAVBAR STYLES ========== */
.navNoBackground {
    background: none;
    border: none;
    backdrop-filter: none;
}
.navSemiBackground {
    background-color: rgba(13, 14, 17, 0.8);
    border-color: rgb(32, 34, 45);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    backdrop-filter: blur(18px);
}
/* =================================== */